#chartControls {
    background-color: var(--ECU-120) !important;
    border-top: 0.1px solid #eef8fa2b;
}

.title, .subtitle {
    font-size: 1.2em;
    color: var(--main-color);
    line-height: 1.2rem;
}