.btn-secondary {
    background-color: var(--tool-1);
}












.invisible {
    visibility: hidden !important;
}


#dropdown-geo-list {
    height: auto;
    max-height: 48vh;
    overflow-x: hidden;
    width: auto;
    margin: 1rem;
}




option.active {
    background-color: var(--tool-1);
    color: white;
}




/* new */





#menu {
    position: relative;
    padding: 0.2rem !important;
    margin-left: 2rem;
    width: 3rem;
    cursor: pointer;
    border: none;
    color: var(--tool-1);
    background-color: transparent;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tool-1);
}

span.iconText {
    font-size: 0.7em;
}

.btnGroup > i {
    font-size: 1.3em;
}

#chartBtns {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

li > button {
    background-color: var(--tool-1) !important;
    border-color: var(--tool-1) !important;
    width: 2.5rem;
    height: 2.5rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.2em !important;
}


#menuSwitch label {
    font-size: 0.8rem;   
}

#menuSwitch input[type="checkbox"]:checked + label {
    font-weight: bold;
}
#floatingMenu {
    display: flex;
    position: relative;
}

#floatingMenu > li {
    text-decoration: none;
    list-style-type: none;
}

/* button:focus,
.input:focus {
    box-shadow: 0 0 0 0.15rem #cca3004d;
    background-color: #CCA300!important;
    border-color: #CCA300 !important;
} */

ul.dropdown-menu.dropdown-menu-end.show {
    margin-top: 1rem;
    z-index: 9999999999;
}


.min-with--nav:hover {
    box-shadow: 0 0 0 0.15rem #cca3004d;
    background-color: #CCA300!important;
    /* border-color: #CCA300 !important; */
}

.btn:disabled {
    background-color: rgba(14,71,203,.5);
    color: hsla(0,0%,100%,.5);
}

.form-switch.form-check-reverse {
    padding-right: 2.5em;
    padding-left: 1rem;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

span.agregates.fa-stack.fa-rotate-180 {
    font-size: .9rem;
}

.round-btn {
    border-radius: 50%;
}
.containerNav > .round-btn {
    border-radius: 50%;
    background-color: rgba(14,71,203,.5);
    color: hsla(0,0%,100%,.5);
}

.ecl-button--primary:active, .ecl-button--primary:hover {
    background-color: #3e6cd5;
    color: #ffffff;
}

.flex-item:hover .containerNav .ecl-button--primary {
    background-color: #3e6cd5;
    color: #ffffff;
}

.text-truncate {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

ul#chartBtns > li > button {
    background-color: white !important;
    color: var(--ECU-120);
}

