#chartControls {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

#navbar-container {
    background: linear-gradient(125deg, #082b7a 35%, #AFDFE9 75%, white 100%);
}

.navbar-top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    background: rgb(8, 43, 122);
    color: white;
    background: url(../../img/banner-graphical-element.svg) 40%/contain no-repeat;
    height: 6rem;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: white;
    background-color: var(--nav-color);
}

#header-title-label {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0;
}

select#lang-selection {
    width: 7.5rem;
    height: 2rem;
    font-size: 0.8em;
}

select#lang-selection:hover {
    box-shadow: 0 2px 4px rgb(9 49 142 / 8%), 0 0 10px rgb(9 49 142 / 4%), 0 4px 5px rgb(9 49 142 / 4%), 0 -4px 4px rgb(9 49 142 / 4%);
    text-decoration: none;
    border: 1px solid lightgray;
}

.langSelect {
    color: var(--main-color);
}

img#eurostatLogo {
    height: 1.5rem;
}

option:disabled {
    color: var(--bs-gray-500);
    background-color: var(--sub-nav-color);
}

select:focus option:focus {
    outline: none;
    background-color: #eaf2ff;
}

.globan-invalid-domain {
    display: none !important;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

img#eurostatLogo {
    height: 1.375rem;
}



